@using StoryLibrary.Views.Pages;
@model StoryModel
@{
    ViewData["Title"] = Model.Story.TitleTruyen;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["TitlePage"] = "Truyện" + Model.Story.TitleTruyen;
    ViewData["TitlePageBread1"] = "Truyện";
    ViewData["TitlePageBread2"] = Model.Story.TitleTruyen;
}
@section Header {
    <meta name="description" content="Đọc truyện   @Model.Story.TitleTruyen  của tác giả  @Model.Story.Author , đã full(hoàn thành). Hỗ trợ xem trên di động, máy tính bảng." />
    <meta name="keywords" content="@Model.Story.TitleTruyen , @Model.Story.Alias.Replace('-',' '), doc truyen @Model.Story.Alias.Replace('-',' '), @Model.Story.Alias.Replace('-',' ') full, @Model.Story.Alias.Replace('-',' ') prc" />

    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="robots" content="index,follow">
    <meta property="book:tag" content="@Model.Story.Author">
    <meta property="book:tag" content="@Model.Story.Alias.Replace('-',' ')">
    <meta property="book:tag" content="@Model.Story.TitleTruyen">
    <meta property="book:release_date" content="2015-09-29T10:04:25+07:00">
                            @*<meta property="book:author" content="https://daidaovien.com/tac-gia/vu-phong/">*@
    <meta property="og:url" content="https:/daidaovien.com/Pages/Story/@Model.Story.Alias-@Model.Story.IDTruyen/">
    <meta property="og:description" content="Truyện @Model.Story.TitleTruyen của tác giả @Model.Story.Author.">
    <meta property="og:image" content="@Model.Story.LinkImage">
    <meta property="og:title" content="@Model.Story.TitleTruyen">
    <meta property="og:type" content="book">
    <meta property="og:site_name" content="Đại đạo viện">
    <meta property="fb:app_id" content="1387477262001745">
      }
<div class="col-sm-12">
    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
        <div class="iq-card-header d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">@Model.Story.TitleTruyen </h4>
        </div>
        <div class="iq-card-body pb-0">
            <div class="description-contens align-items-top row">
                <div class="col-md-3">
                    <div class="iq-card-transparent iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-body p-0">
                            <div class="row align-items-center">
                                <div class="col-10">
                                    <ul id="description-slider" class="list-inline p-0 m-0  d-flex align-items-center">
                                        <li>
                                            <a href="javascript:void(0);">
                                                <img src="@Model.Story.LinkImage" class="img-fluid w-100 rounded" alt="">
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="iq-card-transparent iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-body p-0">
                            <h3 class="mb-3">@Model.Story.TitleTruyen</h3>
                            <div class="mb-3 d-block">
                                <span class="font-size-20 text-warning">
                                    <i class="fa fa-star mr-1"></i>
                                    <i class="fa fa-star mr-1"></i>
                                    <i class="fa fa-star mr-1"></i>
                                    <i class="fa fa-star mr-1"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>
                            <span class="text-dark mb-4 pb-4 iq-border-bottom d-block">@Model.Story.Description</span>
                            <div class="text-primary mb-4">Tác giá: <span class="text-body">@Model.Story.Author</span></div>
                            <div class="mb-4 d-flex align-items-center">
                                <a href="#" class="btn btn-primary view-more mr-2">Thêm vào đọc sau</a>
                                <a asp-controller="Pages" asp-action="ReadStory" asp-route-id="@Model.Story.IDTruyen-1" class="btn btn-primary view-more mr-2">Đọc truyện</a>
                            </div>
                            <div class="mb-3">
                                <a href="#" class="text-body text-center"><span class="avatar-30 rounded-circle bg-primary d-inline-block mr-2"><i class="ri-heart-fill"></i></span><span>Add to Wishlist</span></a>
                            </div>
                            <div class="iq-social d-flex align-items-center">
                                <h5 class="mr-2">Chia sẽ:</h5>
                                <ul class="list-inline d-flex p-0 mb-0 align-items-center">
                                    <li>
                                        <a href="#" class="avatar-40 rounded-circle bg-primary mr-2 facebook">
                                            <i class="fa fa-facebook" aria-hidden="true">
                                                <div class="fb-share-button"
                                                     data-href="https:/daidaovien.com/Pages/Story/@Model.Story.Alias-@Model.Story.IDTruyen/"
                                                     data-layout="button_count" data-size="large">
                                                    <a target="_blank"
                                                       class="fb-xfbml-parse-ignore">Share</a>
                                                </div>
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="avatar-40 rounded-circle bg-primary mr-2 twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="avatar-40 rounded-circle bg-primary mr-2 youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="avatar-40 rounded-circle bg-primary pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

